{% if site.tag_archive.path %}
  {% assign tags_sorted = page.tags | sort_natural %}
  {% assign tags_max = 0 %}
  {% for tag in site.tags %}
    {% if tag[1].size > tags_max %}
      {% assign tags_max = tag[1].size %}
    {% endif %}
  {% endfor %}


<div class="tags_sorted">
  <head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <style>
      ul{
          list-style-type: none
          margin-left: 0;
      }
      li{
          display: inline;
          margin-left: 0
          margin-right: 15px;
      }
    </style>
  </head>
  <ul class="taxonomy__index">
    {% for i in (1..tags_max) reversed %}
      {% for tag in site.tags %}
        {% if tag[1].size == i %}
          <li>
            <a href="#{{ tag[0] | slugify }}">
              <strong>{{ tag[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
</div>
