---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
  /* apply a natural box layout model to all elements */
  box-sizing: border-box;
  background-color: $background-color;
  font-size: 16px;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}


.page__related {
  @include grid(12,10);
	@include prefix(12,1);
	@include suffix(12,1);
	margin-bottom: 2em;
	@media #{$small} {
		@include grid(12,6);
		@include prefix(12,3);
		@include suffix(12,3);
	}
	@media #{$x-large} {
		@include grid(12,4.5);
		@include prefix(12,4);
		@include suffix(12,3.5);
	}
	h4 {
		text-transform: uppercase;
		margin-bottom: 0;
	}
	li {
		margin-bottom: 0;
	}
}
